.form-cls {
    margin-left: 20px;
    margin-top: 20px;
} 
.datepicker{
    padding: 0.47rem 0.75rem !important;
    border: 1px solid #ced4da !important;
} 

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}
.sidebar-div {
    background-color: #4f439b;
}
.metismenu li a {
    color: white !important;
}
.sidebar-icon {
    color: white !important;
}
li > .active {
    background-color: white;
    border-radius: 10px;
}
.add-employee-btn {
    font-size: 11px;   
}
.icon-col {
    color: white !important;
    font-size: 15px !important;
}
.billable-check {
    font-size: 20px;
    margin-left: 20px;
}
.dt-buttons {
    float: right;
    margin-top: 20px;
}
.dt-buttons button{
    border-radius: 2px;
    color: white !important;
    background-color: blue !important;
}
.dt-buttons button:hover {
    background-color: black !important;   
}
.pointer-none {
    pointer-events: none;
}

.footer-custom {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 2.5rem; 
}